<mat-toolbar color="primary">
  
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <mat-icon matBadge="" matBadgeColor="warn">home</mat-icon>
  <span class="example-spacer"></span>
  <div class="button">
    <mat-chip-list aria-label="Fish selection">
        
        <mat-chip mat-raised-button color="primary" routerLink="/home" selected style="height: 50px; width: 200px; font-size: 20px;">MySignature</mat-chip>
        <mat-chip color="primary" selected routerLink="/templates" style="height: 50px; width: 200px; font-size: 20px;">Templates</mat-chip>
      </mat-chip-list>
      
    </div>
    
  <h1>Hi, Welcome to CMS Hosting !</h1>
  <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
  <div class="example-button-container">
    <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
      <mat-icon>bookmark</mat-icon>
    </button>
  </div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  
  <mat-slide-toggle>LogIn</mat-slide-toggle>

</mat-toolbar>

