
<h1 style="font-size: 25px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600; margin-top: 50%;">Increase you business value with intuitive Email Signature Generator.</h1>

<div class="button">
    <mat-chip-list aria-label="Fish selection">
        
        <mat-chip mat-raised-button color="primary" selected style="height: 50px; width: 200px; font-size: 20px;">Create Signature</mat-chip>
        <mat-chip color="accent" selected routerLink="/templates" style="height: 50px; width: 200px; font-size: 20px;">Sample Template</mat-chip>
      </mat-chip-list>
      
    </div>
    