<button class="btn btn-success" (click)="onfetchPosts">Fetch</button>
<mat-card class="example-card" *ngFor="let user of Users">
    
  <mat-card-header>
    <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
  <!-- <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>Shiba Inu</mat-card-title>
  <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
</mat-card-header>
<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
<mat-card-content>
    To : <br><hr>
    From : <hr>
    <div>
        <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px; line-height: 1.5;">
           <tbody>
               <tr>
                <td width="35%">
                  <img src="https://img.mysignature.io/p/6/5/9/65978094-291c-58bb-953f-3bac04d6fd46.png?time=1592495530" style="max-width: 100%;border:1px solid #FFFFFF" />
              </td>
                   <td style="vertical-align: top;">
                           <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px;">
                               <tbody>
                                   <tr>
                                       <td>
                                           <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 700;">
                               <!-- Matthew Murphy  -->{{user.name | uppercase}}
                           </span>
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                               <!-- Founder  --> {{user.position}}
                           </span>
                           <span> 
                               <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;"> | </span>
                               <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                <!-- CMS Hosting LLC -->{{user.company}}
                            </span>
                           </span>
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="margin-top: 5px; font-size: 0px;"><tr><td><span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Website: </span>
                               <a href="http://johndoe.com" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                <!-- cmshosting.xyz -->{{user.website}}
                            </a>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email: </span>
                               <a href="mailto:mail@jonhdoe.com" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                <!-- mmurphy@cmshosting.xyz -->{{user.email}}
                            </a>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Phone: </span>
                               <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                <!-- 833-CMS -->{{user.phone}}
                            </span>
                           </td>
                       </tr>
                       <tr>
                        <td>
                            <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Mobile: </span>
                            <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                <!-- 209-898-6435 -->{{user.mobile}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">address: </span>
                            <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                <!-- 1334 S Center , CA 95206 -->{{user.address}}
                            </span>
                        </td>
                    </tr>
                   </table>
               </td>
           </tr>
       </tbody>
   </table>
   </td>
   </tr>
   </tbody>
   </table>
   <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px; margin-top: 10px;">
       <tbody>
           <tr>
               <td>
                   <span style="font-size: 10px; color: rgb(136, 136, 136); border-top: 1px solid rgb(238, 238, 238); padding-top: 5px;">
                       Email signature by <a href="https://mysigmail.com?ref=email">mysigmail.com</a>
                   </span>
               </td>
           </tr>
       </tbody>
   </table>
   </div>
  <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
  <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
  <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
  <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
  
</mat-card-content>
<mat-card-actions>
    <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <div class="example-button-row">
    
        <button mat-stroked-button color="primary">View Source Code</button>
        <button mat-stroked-button color="accent">Copy Code</button>
        
      </div>
</mat-card-actions>
</mat-card>

<mat-card class="example-card">
<mat-card-header>
    <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
  <!-- <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>Shiba Inu</mat-card-title>
  <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
</mat-card-header>
<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
<mat-card-content>
<div>
 <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px; line-height: 1.5;">
    <tbody>
        <tr>
         
            <td style="vertical-align: top;">
                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px;">
                        <tbody>
                            <tr>
                                <td>
                                    <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 700;">
                        Matthew Murphy
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                        Founder
                    </span>
                    <span>
                        <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;"> | </span>
                        <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">CMSHosting LLC</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="margin-top: 5px; font-size: 0px;"><tr><td><span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Website: </span>
                        <a href="http://cmshosting.xyz" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">www.cmshosting.xyz</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email: </span>
                        <a href="mailto:mail@jonhdoe.com" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">mmurphy@cmshosting.xyz</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Phone: </span>
                        <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">833-CMS</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Mobile: </span>
                        <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">209-898-6435</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">address: </span>
                        <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">1334 S Center , CA 95206</span>
                    </td>
                </tr>
            </table>
        </td>
        <td width="35%">
            <img src="https://img.mysignature.io/p/6/5/9/65978094-291c-58bb-953f-3bac04d6fd46.png?time=1592495530" style="max-width: 100%;border:1px solid #FFFFFF" />
        </td>
    </tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px; margin-top: 10px;">
<tbody>
    <tr>
        <td>
            <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
        </td>
    </tr>
</tbody>
</table>
</div>
</mat-card-content>
<mat-card-actions>
<button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <div class="example-button-row">
    
    <button mat-stroked-button color="primary">View Source Code</button>
    <button mat-stroked-button color="accent">Copy Code</button>
    
  </div>


</mat-card-actions>
</mat-card>
  <mat-card class="example-card2">
    <mat-card-header>
        <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
      <!-- <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <body>
            <table border="0" cellspacing="0" cellpadding="0" style="width: 500px;box-shadow:0px 0px 10px #BBBBBB;
             background-color: black;
            font-family: sans-serif;border-radius: 5px">
                  <tr>
                       <td width="35%">
                           <img src="https://img.mysignature.io/p/6/5/9/65978094-291c-58bb-953f-3bac04d6fd46.png?time=1592495530" style="max-width: 100%;border:1px solid #FFFFFF" />
                       </td>
                       <td width="65%" valign="top" style="padding-left: 30px">
                             <h1 style="margin:0px;color:#ffffff;font-size: 30px">Matthew Murphy</h1>
                             <h4 style="margin: 10px 0px 20px; color:#ffffff; border-bottom: 1px solid #FFFFFF;
                                   font-size: 15px;text-transform: uppercase;font-weight: normal;padding-bottom: 8px">
                             <b>Founder |</b> CMS Hosting LLC
                          </h4>
                              <p style="margin: 12px 0px;color: #FFFFFF;font-size: 14px">
                                   <img src="https://png.pngtree.com/png-clipart/20191121/original/pngtree-phone-icon-png-image_5105607.jpg"
                                   style="max-width:18px;vertical-align: middle; margin-right: 5px"/>phone: 833-CMS
                              </p>
                        <p style="margin: 12px 0px;color: #FFFFFF;font-size: 14px">
                            <img src="https://png.pngtree.com/png-clipart/20190517/original/pngtree-mobile-phone-icon-png-image_3570084.jpg"
                            style="max-width:18px;vertical-align: middle; margin-right: 5px"/>mobile: 209-898-6435
                        </p>
                         <p style="margin: 12px 0px;color: #FFFFFF;font-size: 14px">
                            <img src="https://phonesrescue.co.uk/wp-content/uploads/2018/04/iMac-icon-white-1.png"
                            style="max-width:18px;vertical-align: middle; margin-right: 5px"/> site: www.cmshosting.xyz
                        </p>
                              <p style="margin: 12px 0px;color: #FFFFFF;font-size: 14px">
                                   <img src="http://www.pinnaclegroup.com/wp-content/uploads/2015/01/email.png"
                                   style="max-width:20px;vertical-align: middle; margin-right: 5px"/> email: mmurphy@cmshosting.xyz
                              </p>
                             
                              <p style="margin: 12px 0px;color: #FFFFFF;font-size: 14px">
                                   <img src="https://img.icons8.com/ios/2x/address.png"
                                   style="max-width:20px;vertical-align: middle; margin-right: 5px"/> address: 1334 S Center St Ste <br> B      stockton, CA 95206
                              </p>
                        <p>
                           <img src="https://image.flaticon.com/icons/svg/220/220233.svg" height="20px">
                           <img src="https://image.flaticon.com/icons/svg/1051/1051258.svg" height="20px">
                           <img src="https://image.flaticon.com/icons/svg/174/174857.svg" height="20px">
                           <img src="https://tighestimepieces.com/wp-content/uploads/2016/11/Instagram-icon-WHITE.png" height="20px">
                        </p>
                       </td>
                  </tr>
            </table>
            <!-- <table style="margin-top: 15px;color: gray;font-family: Arial;line-height: 1.3;font-size:1em;width: 100%" cellspacing="0" cellpadding="0" border="0">
                                                     <tr>
                                                      <td style="font-family:Arial;font-size:75%;">
                                                       IMPORTANT: The contents of this email and any attachments are confidential. It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender. If you received this message by mistake, please reply to this message and follow with its deletion, so that we can ensure such a mistake does not occur in the future.
                                                   </td>
                                               </tr>
                                           </table> -->
         </body>
</mat-card-content>
<mat-card-actions>
    <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <div class="example-button-row">
    
        <button mat-stroked-button color="primary">View Source Code</button>
        <button mat-stroked-button color="accent">Copy Code</button>
        
      </div>
</mat-card-actions>

 
</mat-card>
