<div class="container" style="border: 1px blue solid; border-radius: 2%;">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-nd-offset-2"  style="margin: 1%;">
            <h3>Enter the Social Media Links: </h3>
            <form (ngSubmit)="onSubmit()" #form="ngForm">
                <div id="user-data">
                    <div class="form-inline" >
                        <label for="name"> <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></label>
                        <input type="text"
                        id="name"
                        class="form-control"
                        ngModel
                        name="name">
                    </div>
                    </div>
                    <div id="user-data">
                        <div class="form-inline" >
                            <label for="company">  <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
                            </label>
                            <input type="text"
                            id="company"
                            class="form-control"
                            ngModel
                            name="company">
                    </div>
                    </div>
                    <div id="user-data">
                        <div class="form-inline" >
                            <label for="position"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></label>
                            <input type="text"
                            id="position"
                            class="form-control"
                            ngModel
                            name="position">
                     </div>
                    </div>
                    
                    <div id="user-data">
                        <div class="form-inline" >
                            <label for="position">  <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
                            </label>
                            <input type="text"
                            id="position"
                            class="form-control"
                            ngModel
                            name="position">
                     </div>
                    </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
            <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
            <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
            <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
            <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
            <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
            <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
        </div>
    </div>
</div>
