<div  style="background-color: ghostwhite; margin:2%; ">

    <h1 style="font-size: 30px; align-items: center; font-family: Arial, Helvetica, sans-serif; color: blue;">Hi, Welcome to CMS Hosting Email Signature generator.</h1>
    <h1 style="font-size: 30px; align-items: center; font-family: Arial, Helvetica, sans-serif; color: blue;">Want an Email Signature ?</h1>
    <div class="row" >
        <div class="col">
            <app-template-edit></app-template-edit>
        </div>
        <div class="col">
            <app-templates></app-templates>
        </div>
    </div>
</div>